/*
!/.gitignore
!/.gitattributes
!/README.md
!/work/
!/outputs/

/work/*
!/work/river-game/
/work/river-game/node_modules/
/work/river-game/*.log
/work/river-game/.local/

/outputs/*
!/outputs/cloudflare-pages/
!/outputs/laomei-dazhan-wokou-cloudflare.zip
